*{
    margin: 0;
    padding: 0;
}

/*make the body content hidden in laptop */
@media(min-width:769px) {
    body{
        display: none;
    }
}

/*make the styles for the second page*/

@media(max-width:768px){
    body{
        background: url("https://image.freepik.com/free-vector/sunset-nature-view_1308-24719.jpg") rgba(0, 0, 1, 0.6);
        width:100%;
        background-blend-mode: darken;
    }
    /*make the styles for the different classes of the body*/
     .content li:first-child,
     .content li:nth-child(3)
     {
        background-color: hotpink;
    }
     .content li:last-child,
     .content li:nth-child(2)
     {
        background-color: gold;
    }
     img#logoImg{
         width:50px;
         height:60px;
         margin: 10px 10px;
     }

    h2{
        color:orange;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        font-size: 40px;
        font-family: 'Lobster', cursive;
    }

    p{
        color:white;
        margin-top: 5px;
        text-align: center;
        font-size: 18px;
    }
    .content {
        margin:1px 100px;
        list-style: none;
    }
    .content li{
        width:100px;
        height:130px;
        border-radius: 50%;
        background-color: #ccc;
        padding:20px;
        margin-top: 10px;
        cursor: pointer;
        transition: all 3s;
        user-select: none;
    }
    .content li img {
        width:100%;
        height:100%;
        cursor: pointer;
        user-select: none;
    }
    button{
        width:150px;
        height:50px;
        background-color: orange;
        color:white;
        font-weight: bold;
        font-size: 20px;
        border:none;
        margin: 20px 100px;
        cursor: pointer;
    }
  /* do some styles for divDiary*/
  .divDiary > div {
      font-size: 20px;
      margin:5px;
      padding:  10px;
      background-color: #DDD;
      width:300px;
      margin-top: 20px;
  }
}